In [1]:
import pandas as pd

train = pd.read_csv('./datasets/titanic_train.csv')
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
train["Age"].fillna(train["Age"].mean(), inplace=True)
train["Fare"].fillna('N', inplace=True)
train["Cabin"].fillna('N', inplace=True)
train['Embarked'].fillna('N', inplace=True)

train.info()

print('데이터 세트 Null 값 갯수 \n', train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
데이터 세트 Null 값 갯수
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [4]:
test = pd.read_csv('./datasets/titanic_test.csv')
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [5]:
test["Age"].fillna(test["Age"].mean(), inplace=True)
test["Fare"].fillna("N", inplace=True)
test["Cabin"].fillna("N", inplace=True)
test["Embarked"].fillna("S", inplace=True)

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    object
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 36.0+ KB

In [7]:
print(f"성별의 값 분포는 {train['Sex'].value_counts()}")

성별의 값 분포는 male      577
female    314
Name: Sex, dtype: int64

In [8]:
print(f"Cabin의 값 분포는 {train['Cabin'].value_counts()}")

Cabin의 값 분포는 N              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 148, dtype: int64

In [9]:
print(f"Embarked의 값 분포는 {train['Embarked'].value_counts()}")

Embarked의 값 분포는 S    644
C    168
Q     77
N      2
Name: Embarked, dtype: int64

### 데이터 전처리 모듈화

In [10]:
import pandas as pd

train = pd.read_csv('./datasets/titanic_train.csv')
test = pd.read_csv('./datasets/titanic_test.csv')

In [112]:
# df_list = [train, test]

# for i, df in enumerate(df_list):
#     print(i,df)

0      Survived  Pclass     Sex        Age     Fare Cabin Embarked
0           0       3    male  22.000000   7.2500     N        S
1           1       1  female  38.000000  71.2833     C        C
2           1       3  female  26.000000   7.9250     N        S
3           1       1  female  35.000000  53.1000     C        S
4           0       3    male  35.000000   8.0500     N        S
..        ...     ...     ...        ...      ...   ...      ...
886         0       2    male  27.000000  13.0000     N        S
887         1       1  female  19.000000  30.0000     B        S
888         0       3  female  29.699118  23.4500     N        S
889         1       1    male  26.000000  30.0000     C        C
890         0       3    male  32.000000   7.7500     N        Q

[891 rows x 7 columns]
1      Pclass     Sex       Age      Fare Cabin Embarked
0         3    male  34.50000    7.8292     N        Q
1         3  female  47.00000    7.0000     N        S
2         2    male  62.00000    9.6875     N        Q
3         3    male  27.00000    8.6625     N        S
4         3  female  22.00000   12.2875     N        S
..      ...     ...       ...       ...   ...      ...
413       3    male  30.27259    8.0500     N        S
414       1  female  39.00000  108.9000     C        C
415       3    male  38.50000    7.2500     N        S
416       3    male  30.27259    8.0500     N        S
417       3    male  30.27259   22.3583     N        C

[418 rows x 6 columns]

In [11]:
print(train['Cabin'])

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder

def fillna(df):
    df["Age"].fillna(df["Age"].mean(), inplace=True)
    df["Cabin"].fillna("N", inplace=True)
    df["Embarked"].fillna("N", inplace=True)
    df["Fare"].fillna(0, inplace=True)
    return df

def drop_features(df):
    df.drop(['PassengerId','Name','Fare','Ticket','SibSp','Parch'], axis=1, inplace=True)
    return df

def format_features(df):
    df['Cabin'] = df['Cabin'].str[:1]
    features = ['Cabin', 'Sex', 'Embarked']
    for feature in features:
        le = LabelEncoder()
#         df[feature] = le.fit_transform(df[feature])
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df

# 앞에서 설정한 Data Preprocessing 함수 호출
def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [14]:
import pandas as pd

train_df = pd.read_csv('./datasets/titanic_train.csv')
test_df = pd.read_csv('./datasets/titanic_test.csv')

In [15]:
2

In [17]:
train_df.head()

   Survived  Pclass  Sex   Age  Cabin  Embarked
0         0       3    1  22.0      7         3
1         1       1    0  38.0      2         0
2         1       3    0  26.0      7         3
3         1       1    0  35.0      2         3
4         0       3    1  35.0      7         3

In [18]:
test_df.head()

   Pclass  Sex   Age  Cabin  Embarked
0       3    1  34.5      7         1
1       3    0  47.0      7         2
2       2    1  62.0      7         1
3       3    1  27.0      7         2
4       3    0  22.0      7         2

In [16]:
label = train_df['Survived']
features = train_df.drop(columns='Survived')

In [17]:
x_train = features
x_train

     Pclass  Sex        Age  Cabin  Embarked
0         3    1  22.000000      7         3
1         1    0  38.000000      2         0
2         3    0  26.000000      7         3
3         1    0  35.000000      2         3
4         3    1  35.000000      7         3
..      ...  ...        ...    ...       ...
886       2    1  27.000000      7         3
887       1    0  19.000000      1         3
888       3    0  29.699118      7         3
889       1    1  26.000000      2         0
890       3    1  32.000000      7         2

[891 rows x 5 columns]

In [18]:
y_train = label
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

#### datascaling

In [25]:
# StandardScaler를 이용한 스케일링
from sklearn.preprocessing import StandardScaler

# StandardScaler객체 생성
scaler = StandardScaler()
# StandardScaler로 데이터 셋 변환 , fit()과 transform()호출
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(test_df)

In [26]:
x_train_scaled

array([[ 0.82737724,  0.73769513, -0.5924806 ,  0.51129323,  0.56273365],
       [-1.56610693, -1.35557354,  0.63878901, -1.91449093, -2.00852627],
       [ 0.82737724, -1.35557354, -0.2846632 ,  0.51129323,  0.56273365],
       ...,
       [ 0.82737724, -1.35557354,  0.        ,  0.51129323,  0.56273365],
       [-1.56610693,  0.73769513, -0.2846632 , -1.91449093, -2.00852627],
       [ 0.82737724,  0.73769513,  0.17706291,  0.51129323, -0.29435299]])

In [27]:
x_train_scaled = pd.DataFrame(x_train_scaled, columns=features.columns)

In [28]:
x_train_scaled

       Pclass       Sex       Age     Cabin  Embarked
0    0.827377  0.737695 -0.592481  0.511293  0.562734
1   -1.566107 -1.355574  0.638789 -1.914491 -2.008526
2    0.827377 -1.355574 -0.284663  0.511293  0.562734
3   -1.566107 -1.355574  0.407926 -1.914491  0.562734
4    0.827377  0.737695  0.407926  0.511293  0.562734
..        ...       ...       ...       ...       ...
886 -0.369365  0.737695 -0.207709  0.511293  0.562734
887 -1.566107 -1.355574 -0.823344 -2.399648  0.562734
888  0.827377 -1.355574  0.000000  0.511293  0.562734
889 -1.566107  0.737695 -0.284663 -1.914491 -2.008526
890  0.827377  0.737695  0.177063  0.511293 -0.294353

[891 rows x 5 columns]

### DecisionTree를 활용한 예측

In [29]:
### 여기서부터 한번더 이해 필요###
from sklearn.tree import DecisionTreeClassifier

# 머신러닝알고리즘(클래스형태) 불러옴
clf = DecisionTreeClassifier(random_state=0)
# 알고리즘 훈련데이터 적합
clf.fit(x_train_scaled, y_train)
# y 예측값
y_pred = clf.predict(x_test_scaled)

DecisionTreeClassifier(random_state=0)

In [38]:
len(y_pred)

418

In [39]:
y_test = pd.read_csv('./datasets/gender_submission.csv')
y_test = y_test['Survived']

In [41]:
y_test

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [42]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test , y_pred)

0.8110047846889952

In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 결정트리, Random Forest, 로지스틱 회귀를 위한 시이킷런 Classifier
dt_clf = DecisionTreeClassifier(random_state=10)
rf_clf = RandomForestClassifier(random_state=10)
lr_clf = LogisticRegression()

# DecisionTreeClassifier 학습/예측/평가
dt_clf.fit(x_train_scaled, y_train)
dt_pred = dt_clf.predict(x_test_scaled)
print('DecisionTreeClassifier 정확도 : {0:.4f}'.format(accuracy_score(y_test, dt_pred)))

# RandomForestClassifier 학습/예측/평가
rf_clf.fit(x_train_scaled, y_train)
rf_pred = rf_clf.predict(x_test_scaled)
print('RandomForestClassifier 정확도 : {0:.4f}'.format(accuracy_score(y_test, rf_pred)))

# LogisticRegression 학습/예측/평가
lr_clf.fit(x_train_scaled, y_train)
lr_pred = lr_clf.predict(x_test_scaled)
print('LogisticRegression 정확도 : {0:.4f}'.format(accuracy_score(y_test, lr_pred)))

C:\Users\Hong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\Hong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

DecisionTreeClassifier 정확도 : 0.8278
RandomForestClassifier 정확도 : 0.8278
LogisticRegression 정확도 : 0.9474

C:\Users\Hong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [45]:
from sklearn.model_selection import cross_val_score
import numpy as np

scores = cross_val_score(dt_clf, x_train_scaled, y_train, cv=5)

for iter_count,accuracy in enumerate(scores):
    print('교차 검증 {0} 정확도: {1:.4f}'.format(iter_count,accuracy))

print('평균 정확도: {0:.4f}'.format(np.mean(scores)))

교차 검증 0 정확도: 0.7821
교차 검증 1 정확도: 0.7809
교차 검증 2 정확도: 0.8202
교차 검증 3 정확도: 0.8090
교차 검증 4 정확도: 0.8315
평균 정확도: 0.8047

In [50]:
from sklearn.model_selection import GridSearchCV

parameters = {'max_depth' : [2,3,5,10],
             'min_samples_split' : [2,3,5],
             'min_samples_leaf' : [1,5,8]
             }

grid_dclf = GridSearchCV(dt_clf, param_grid=parameters, scoring='accuracy', cv=5)
grid_dclf.fit(x_train_scaled, y_train)

print('GridSearchCV 최적 하이퍼 파라미터 :', grid_dclf.best_params_)
print('GridSearchCV 최고 정확도 :{0:.4f}', format(grid_dclf.best_score_))
best_dclf = grid_dclf.best_estimator_


### GridSearchCV의 최적 하이퍼 파라미터로 학습된 Estimator로 예측 및 평가 수행
dpred = best_dclf.predict(x_test_scaled)
accuracy = accuracy_score(y_test, dpred)
print(f'테스트 세트에서의 DecisionTreeClassifier 정확도 {accuracy}')

GridSearchCV 최적 하이퍼 파라미터 : {'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 2}
GridSearchCV 최고 정확도 :{0:.4f} 0.8181783943255289
테스트 세트에서의 DecisionTreeClassifier 정확도 0.8875598086124402

C:\Users\Hong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [52]:
from sklearn.metrics import accuracy_score, precision_score, recall_score,confusion_matrix

def get_clf_eval(y_test,pred):
    confusion = confusion_matrix(y_test,dpred)
    accuracy = accuracy_score(y_test,dpred)
    precision = precision_score(y_test,dpred)
    recall = recall_score(y_test,dpred)
    print('confusion matrix')
    print(confusion)
    print(f'정확도: {np.round(accuracy,4)},정밀도{np.round(precision,4)}, 재현율{np.round(recall,4)}')
    
get_clf_eval(y_test,dpred)

confusion matrix
[[261   5]
 [ 42 110]]
정확도: 0.8876,정밀도0.9565, 재현율0.7237